<div class="conference">
	<div class="conf-fixed-nav-container">
		<div class="conf-fixed-nav-contents">
			<div class="nav-bg"></div>
			<div class="conf-fixed-nav">
				<div class="nav-left">
					<a href="#top"><div class="nav-left-item-container">
						<div class="nav-left-item">
							<%= image_tag "logo_full.png", width: "24px", height: "24px", :class=>"nav-logo"%>GREC
						</div>
					</div></a>
				</div>
				<div class="nav-right">
					<a href="#about"><div class="nav-right-item-container"><div class="nav-right-item">About</div></div></a>
					<a href="#schedule"><div class="nav-right-item-container"><div class="nav-right-item">Schedule</div></div></a>
					<a href="#register"><div class="nav-right-item-container"><div class="nav-right-item">Register</div></div></a>
				</div>
			</div>
		</div>
	</div>
	<div class="body-container">
		<div class="splash-container container">
			<a name="top"></a>
			<div class="splash-img-placeholder">
				<div class="splash-text animated fadeInUp">
					<div class="splash-title">
						<div class="title-left"><%= image_tag "logo_full.png", width: "100px", height: "100px"%></div>
						<div class="title-right">
							<div class="title-upper">Greater Rochester</div>
							<div class="title-lower">Entrepreneurship Conference</div>
						</div>
					</div>
					<div class="splash-subtitle">Featuring</div>
					<div class="wegmans">
						The
						<%= image_tag "Wegmans.png", height: "100px"%>
						Challenge
					</div>
					<div id="date">
						April 11th, 2015
					</div>
					<a href="#schedule">
						<div class="splash-itinerary-link">
							<div class="splash-itinerary-link-text">See Full Itinerary</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="about-container container light-bg container-shadow-top">
			<a class="locallink" name="about"></a>
			<div class="content">
				<div class="header header-dark">What Is This?</div>
				<!-- Move headers here for other divs -->
				<div class="text dark">
					The Greater Rochester Entrepreneurship Conference will bring together undergraduate students, business students, and entrepreneurs in the Greater Rochester community. Our aim is to spark entrepreneurship among attendees. Wegmans Food Markets, Inc. will be offering a "challenge" to undergraduate attendees that involves solving a real business problem. 
				</div>
				<div class="text dark">
					<br>The day will include three keynote speeches, separated by two breakout sessions focusing on different topics pertaining to entrepreneurship, a networking luncheon, and teams of students working to solve the Wegmans challenge and pitching their final idea. Competition results will be revealed during a closing ceremony, followed by an informal meet-and-greet dinner.
					 <a href="#schedule">See full itinerary.</a>
				</div>
				<div class="text dark">
					<br>Admission is only free for undergraduate students, but the conference is also open to graduate students and the Rochester community. However, only undergraduate students may participate in the Wegmans Challenge. 
				</div>
				<div class="text dark">
					<br>Dress code is business casual. We'll provide food, note-taking materials, and plenty of inspiration!
				</div>
				<div class="text dark">
					<br><a href="#register">Register on EventBrite now!</a>
				</div>
			</div>
		</div>
		<div class="contact-container container dark-pattern-bg">
			<a class="locallink" name="Speakers"></a>
			<div class="content">
				<div class="header header-light">Speakers</div>
				<div class="test">
			        <ul id="categories" class="clr">
						<li>
					    	<div>
						        <img src="https://pbs.twimg.com/profile_images/476079790663819264/Qw42CyKz_400x400.jpeg" alt=""/>
						        <h1>Sharon Napier</h1>
						        <p>CEO of Partners + Napier, Entrepreneur and Nonconformist</p>
						    </div>
						</li>
						<li>
					    	<div>
						        <%= image_tag "Stephanie_Davis.jpg"%>
						        <h1>Steph G. Davis</h1>
						        <p>Founder of Digu</p>
						    </div>
						</li>
						<li>
					    	<div>
						        <img src="http://ih.constantcontact.com/fs109/1101612142010/img/3330.jpg?a=1116434756765" alt=""/>
						        <h1>Tim Talley</h1>
						        <p>CEO & Founder of U-Lace</p>
						    </div>
						</li>
						<li>
					    	<div><%= image_tag "hex-bg-grey@2X.png"%></div>
						</li>
						<li>
					    	<div>
						        <%= image_tag "richard_glaser.jpg"%>
						        <h1>Richard Glaser</h1>
						        <p>Senior Financial Advisor at Merrill Lynch, Venture Capitalist</p>
						    </div>
						</li>
						<li>
					    	<div>
						        <%= image_tag "hex-bg-grey@2X.png"%>
						        <h2>More Announced Shortly!</h2>
						    </div>
						</li>
						<li>
					    	<div><%= image_tag "hex-bg-grey@2X.png"%></div>
						</li>
						<li class="pusher"></li>
						<li>
					    	<div><%= image_tag "hex-bg-grey@2X.png"%></div>
						</li>
						<!--<li>
					    	<div>
						        <img src="http://www.bloomberg.com/ss/10/02/0225_angel_investors/image/008_chris_sacca.jpg" alt=""/>
						        <h1>Chris Sacca</h1>
						        <p>Some sample text about the article this hexagon leads to</p>
						    </div>
						</li>
						<li class="pusher"></li>
						<li>
					    	<div>
						        <img src="http://www.foodrepublic.com/sites/default/files/imagecache/enlarge/singlepage/Adam_Melonas.jpg" alt=""/>
						        <h1>Adam Melonas</h1>
						        <p>Some sample text about the article this hexagon leads to</p>
						    </div>
						</li>
						<li>
					    	<div>
						        <img src="http://stephbewitching.squarespace.com/storage/james%20altucher.jpg?__SQUARESPACE_CACHEVERSION=1391201890800" alt=""/>
						        <h1>James Altucher</h1>
						        <p>Some sample text about the article this hexagon leads to</p>
						    </div>
						</li>
						<li>
					    	<div>
						        <img src="http://www.apbspeakers.com/sites/default/files/imagecache/apb_speaker_page/speaker/image/sp1005235_0.png" alt=""/>
						        <h1>Keith Ferrazzi</h1>
						        <p>Some sample text about the article this hexagon leads to</p>
						    </div>
						</li>
						-->
					</ul>
			    </div>
			</div>
		</div>
		<div class="contact-container container dark-bg container-shadow-bottom">
			<a class="locallink" name="schedule"></a>
			<div class="content">
				<div class="header header-light">Schedule</div>
				<div class="text light">
					<ul class="text-left">
						<li>09:00 am - 10:00 am</li>
						<li>10:15 am - 11:00 am</li>
						<li>11:15 am - 12:00 pm</li>
						<li>12:15 pm - 01:00 pm</li>
						<li>01:15 pm - 02:00 pm</li>
						<li>02:15 pm - 03:00 pm</li>
						<li>03:15 pm - 04:30 pm</li>
						<li>04:45 pm - 06:00 pm</li>
						<li>06:00 pm - 06:45 pm</li>
						<li>06:45 pm - 07:00 pm</li>
						<li>07:00 pm - 09:00 pm</li>
					</ul>
					<ul class="text-right">
						<li>Registration, breakfast table</li>
						<li>Wegmans keynote, introduction the Wegmans Challenge</li>
						<li>Breakout sessions (topics TBA)</li>
						<li>Networking lunch</li>
						<li>Mid-day keynote</li>
						<li>Breakout sessions (topics TBA)</li>
						<li>Teams form to solve Wegmans Challenge</li>
						<li>Teams pitch solutions to Wegmans</li>
						<li>Ending keynote while Wegmans deliberates to choose winners</li>
						<li>Closing ceremony, Wegmans announces winners</li>
						<li>Informal meet-and-greet dinner</li>
					</ul> 
				</div>
				<div class="content-filler"></div>
			</div>
		</div>
		<div class="contact-container container grey-bg above-shadow">
			<a class="locallink" name="register"></a>
			<div class="content">
				<div class="header header-dark">Register</div>
				<div style="width:100%; margin-top: 20px; text-align:left;"> <iframe src="https://www.eventbrite.com/tickets-external?eid=15824050160&ref=etckt&v=2" frameborder="0" height="550" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe> </div>
				<div class="subheader header-dark">Discounted Hotel Reservations</div>
				<div class="hotel-deals">
					<div class="Staybridge">
						<a href="http://www.staybridge.com/redirect?path=hd&brandCode=sb&localeCode=en&regionCode=1&hotelCode=ROCBA&_PMID=99502056&corporateNumber=100198619" target="_blank" class="hotel">Staybridge Suites</a>
						<ul>
							<li>For reservations 4/10/15 - 4/12/15</li>
							<li>Conference discount price: $116 USD per night</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-container container light-bg">
			<a class="locallink" name="sponsors"></a>
			<div class="content">
				<div class="header header-dark">Sponsors</div>
				<div class="sponsor-images">
					<div class="sponsor-row">
						<%= image_tag "spark_logo_full.png", width: "40%"%>
						<%= image_tag "Wegmans.png", width: "40%"%>
					</div>
					<div class="sponsor-row">
						<%= image_tag "cfe_logo.png", width: "40%"%>
						<%= image_tag "sd_color_logo.png", width: "25%"%>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-container container dark-bg">
			<a class="locallink" name="contact"></a>
			<div class="content">
				<div class="header header-light">Contact Us</div>
				<div class="text light">
					We can be reached at SparkEntrepreneurship@gmail.com.
					<br><br>Also check us out on Facebook:
				</div>
				<div class="facebook light">
					<div class="fb-link"><a href="https://www.facebook.com/SparkEntrepreneurship" target="_blank">Like our page!</a></div>
					<div class="fb-link"><a class="fb-link" href="https://www.facebook.com/groups/URTRIBE/" target="_blank">Join our group!</a></div>
					<div class="col-left">
						
					</div>
					<div class="col-right">
						
					</div>
				</div>
			</div>
			<div class="footer light"><%=link_to 'Spark Entrepreneurs', root_path=%> | <a href="http://rochester.edu" target="_blank">University of Rochester</a> | 2015</div>
		</div>
	</div>
</div>