<!DOCTYPE html>
<html>
<head>
  <title>Spark Entrepreneurship</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon16x16.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>
  	window.fbAsyncInit = function() {
    	FB.init({
      		appId      : '870711806296800',
      		xfbml      : true,
      		version    : 'v2.1'
    	});
  	};

  	(function(d, s, id){
     	var js, fjs = d.getElementsByTagName(s)[0];
     	if (d.getElementById(id)) {return;}
     	js = d.createElement(s); js.id = id;
     	js.src = "//connect.facebook.net/en_US/sdk.js";
     	fjs.parentNode.insertBefore(js, fjs);
   	}(document, 'script', 'facebook-jssdk'));
</script>

<%= yield %>

</body>
</html>
